th{
    background-color: teal;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

h3{
    color: black;
    text-align: center;
    font-style: italic;
}

p{
    color: teal;
    text-align: center;
    font-style: italic;
}

table{
    
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color:aqua;
    border-style:solid;
    color: white;
    font-weight: 100;
    background-image: url('images/blackkkkk.jpg');
    width: 100%;

}

h1{
    color: teal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-style: italic;
}
